<div class="container">
    
    <h1>help</h1>
   
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <section class="row">
            <section class="col-sm-4">
                <section class="events-col">
                    <a class="help_view" ui-sref="faq">
                        <p class="ev-icon"><span><img src="images/icons/event-single.png" alt=""/></span></p>
                         <h2>FAQ </h2>
                    </a>
                    <p><a ui-sref="faq" class="btn pink-btn">More details</a></p>
                </section>
            </section>
            <!--/Single Event-->
            <section class="col-sm-4">
                <section class="events-col">
                    <a class="help_view" ui-sref="support">
                        <p class="ev-icon"><span><img src="images/icons/event-series.png" alt=""/></span></p>
                        <h2>Support</h2>
                    </a>
                    <p><a ui-sref="support" class="btn pink-btn">More details</a></p>
                </section>
            </section>
            <!--/Event Series-->
            <section class="col-sm-4">
                <section class="events-col">
                    <a class="help_view" ui-sref="support">
                        <p class="ev-icon"><span><img src="images/icons/dollar.png" alt=""/></span></p>
                        <h2>Knowledge Base</h2>
                    </a>
                    <p><a ui-sref="knowledgeBase" class="btn pink-btn">More details</a></p>
                </section>
            </section>
            <!--/Event Package-->
        </section>
    </div>
    <!-- //Form COntainer -->
</div>
