<!-- Container -->
<div class="container">
    <h1>My Account</h1>
    <!-- Form COntainer -->
    <span ng-show="success_message" class="ng-hide">
        <p class="success-fld ng-binding">{{success}}</p>
    </span>
    <span ng-show="faluire_message" class="ng-hide">
        <p class="error-fld ng-binding">{{used_old_password}}</p>
    </span>
    <span ng-show="error_message" class="ng-hide">
        <p class="error-fld ng-binding">{{error}}</p>
    </span>
    <div class="wt-frame form-section">
        <form name="accountinfo" class="event-form" ng-submit="accountinfo.$valid && updatesubSellerUser(userdetail)" novalidate>
            <section class="module">
                <section class="prof-hd" ng-click="openTab(1)">
                    <i class="fa fa-cog hdicon pos-l16"></i>
                    <h2>Update User Settings <span class="rt-img"><i class="fa {{basictabclass}}"></i></span></h2>
                </section>
                
                <section class="gray-frame" ng-show="basictab">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{true: 'error'}[submitted]">
                                <label for="first_name">First Name<span class="req">*</span></label>
                                <input type="text" class="form-control" ng-model="userdetail.first_name" name="first_name" placeholder="First Name" required>
                                <span class="help-inline" ng-show="submitted && accountinfo.first_name.$error.required">Please enter first name</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{true: 'error'}[submitted]">
                                <label for="last_name">Last Name<span class="req">*</span></label>
                                <input type="text" class="form-control" ng-model="userdetail.last_name" name="last_name" placeholder="Last Name" required>
                                <span class="help-inline" ng-show="submitted && accountinfo.last_name.$error.required">Please enter last name</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="timezone">TimeZone</label>
                                <select class="form-control" ng-model="userdetail.timezone" placeholder="Timezone">
                                    <option>Select Timezone</option>
                                                        <option>International Date Line West</option>
                                                        <option>Midway Island, Samoa</option>
                                                        <option>Hawaii</option>
                                                        <option>Alaska</option>
                                                        <option>Pacific Time (US and Canada)</option>
                                                        <option>Tijuana, Baja California</option>
                                                        <option>Arizona</option>
                                                        <option>Chihuahua, La Paz, Mazatlan</option>
                                                        <option>Mountain Time (US and Canada)</option>
                                                        <option>Central America</option>
                                                        <option>Central Time (US and Canada)</option>
                                                        <option>Guadalajara, Mexico City, Monterrey</option>
                                                        <option>Saskatchewan</option>
                                                        <option>Bogota, Lima, Quito, Rio Branco</option>
                                                        <option>Eastern Time (US and Canada)</option>
                                                        <option>Indiana (East)</option>
                                                        <option>Atlantic Time (Canada)</option>
                                                        <option>Caracas, La Paz</option>
                                                        <option>Manaus</option>
                                                        <option>Santiago</option>
                                                        <option>Newfoundland</option>
                                                        <option>Brasilia</option>
                                                        <option>Buenos Aires, Georgetown</option>
                                                        <option>Greenland</option>
                                                        <option>Montevideo</option>
                                                        <option>Mid-Atlantic</option>
                                                        <option>Cape Verde Is.</option>
                                                        <option>Azores</option>
                                                        <option>Casablanca, Monrovia, Reykjavik</option>
                                                        <option>Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                        <option>Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                        <option>Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="phone_no">Phone</label>
                                <input type="text" class="form-control" ng-model="userdetail.phone_no" name="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fax">Fax</label>
                                <input type="text" class="form-control" ng-model="userdetail.fax" name="fax" placeholder="Fax">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="pink-btn btn" ng-click="submitted=true" ng-disabled="!accountinfo.$valid">Save</button>
                        </div>
                    </div>
                </section>
            </section>
        </form>
        
        <form name="accountpassword" class="event-form"  ng-submit="accountinfo.$valid && updatesubsellerPassword()" novalidate>
            <section class="module">
                <section class="prof-hd" ng-click="openTab(2)">
                    <i class="fa fa-cog hdicon pos-l16"></i>
                    <h2>Change Password <span class="rt-img"><i class="fa {{discounttabclass}}"></i></span></h2>
                </section>
                <section class="gray-frame" ng-show="discounttab">
                    <div class="row">
                        <div class="col-sm-4" ng-class="{ 'has-error' : accountpassword.oldpass.$invalid && !accountpassword.oldpass.$pristine }">
                            <div class="form-group">
                                <label for="fname">Old Password<span class="req">*</span></label>
                                <input type="password" class="form-control" ng-model="data.oldpass" name="oldpass" placeholder="Old Password" required>
                            </div>
                            <p ng-show="accountpassword.oldpass.$invalid && !accountpassword.oldpass.$pristine" class="error-fld ng-binding">Enter Old Password.</p>
                        </div>
                        <div class="col-sm-4" ng-class="{ 'has-error' : accountpassword.newpass.$invalid && !accountpassword.newpass.$pristine }">
                            <div class="form-group">
                                <label for="Zipcode">New Password<span class="req">*</span></label>
                                <input type="password" class="form-control" ng-model="data.newpass" name="newpass" placeholder="New Password" required>                                                  
                            </div>
                            <p ng-show="accountpassword.newpass.$invalid && !accountpassword.newpass.$pristine" class="error-fld ng-binding">Enter New Password.</p>
                        </div>
                        <div class="col-sm-4" ng-class="{ 'has-error' : accountpassword.confirmpass.$invalid && !accountpassword.confirmpass.$pristine }">
                            <div class="form-group">
                                <label for="Zipcode">Confirm Password<span class="req">*</span></label>
                                <input type="password" class="form-control" ng-pattern={{data.newpass}} ng-model="data.confirmpass" name="confirmpass" placeholder="Confirm Password"  required>
                            </div>
                            <!-- <p ng-show="accountpassword.confirmpass.$invalid && !accountpassword.confirmpass.$pristine" class="error-fld ng-binding">Enter Confirm Password.</p> -->
                            <p ng-show="accountpassword.confirmpass.$error.pattern" class="error-fld ng-binding">Password Not Matched!</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="pink-btn btn" ng-click="saveBasic(1)" ng-disabled="accountpassword.$invalid">Update Password</button>
                        </div>
                    </div>
                </section>
            </section>
        </form>
        <!--/Widgets-->
        <!-- <section class="module">
            <section class="prof-hd" ng-click="openTab(4)">
                <i class="fa fa-cog hdicon pos-l16"></i>
                <h2>Advanced Settings<span class="rt-img"><i class="fa {{questiontabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame" ng-show="questiontab">

 <form name="advSettings" class="event-form"  ng-submit="advSettings.$valid && updateUserAdvSetting(advSetting)" novalidate>
                 <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fname" tooltips tooltip-template="Enable the use of Sidekick for Thermal Printing" >Enable Sidekick for Thermal Printing<span class="req">*</span></label>
                                
                            </div>
                        </div>
                       
                        <div class="col-sm-6" >
                            <div class="form-group">
                               <div class="onoffswitch mt-3">
                            <input type="checkbox" ng-true-value="1" ng-false-value="0"
                                class="onoffswitch-checkbox" id="sidekick_thermal_printing"  ng-model="advSetting.sidekick_thermal_printing" name="sidekick_thermal_printing" ng-checked="advSetting.sidekick_thermal_printing==1">
                            <label class="onoffswitch-label" for="sidekick_thermal_printing">
                                
                            </label>
                        </div>                                                  
                            </div>
                            
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="pink-btn btn" ng-click="submitted1=true" ng-disabled="!advSettings.$valid">Submit</button>
                        </div>
                    </div>
                    
                    </form>

 -->
                    <!--
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Zipcode">Advanced Settings</label>
                            <a ui-sref="advance_setting"><button class="btn pink-btn btn-small" ui-sref="advance_setting" type="button">Edit Advanced Settings</button></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Zipcode">Enable Settings</label>
                            <label for="Zipcode">No Custom Settings Enable</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="pink-btn btn" ng-click="saveBasic(1)">Update</button>
                    </div>
                </div> -->
         <!--    </section>
        </section> -->
        <!--/Downloads-->
        <!-- <form name="sociallink" class="event-form"  ng-submit="sociallink.$valid && updateSocial(data)" novalidate>
            <section class="module">
                <section class="prof-hd" ng-click="openTab(5)">
                    <i class="fa fa-cog hdicon pos-l16"></i>
                    <h2>Social Media Settings<span class="rt-img"><i class="fa {{socialtabclass}}"></i></span></h2>
                </section>
                <section class="gray-frame" ng-show="socialtab">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{true: 'error'}[submitted1]">
                                <label for="facebooklink">Facebook Account</label>
                                <input type="url" class="form-control" ng-model="social.facebook_link" name="facebook_link" placeholder="Facebook" required>
                                <span class="help-inline" ng-show="submitted1 && sociallink.facebook_link.$error.url">Please enter valid url</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="twitter">Twitter Account</label>
                                <input type="url" class="form-control" ng-model="social.twitter_link" name="twitter_link" placeholder="Twitter" required>
                                <span class="help-inline" ng-show="submitted1 && sociallink.twitter_link.$error.url">Please enter valid url</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="gplus">G<sup>+</sup></label>
                                <input type="url" class="form-control" ng-model="social.google_plus" name="google_plus" placeholder="Google plus" required>
                                <span class="help-inline" ng-show="submitted1 && sociallink.google_plus.$error.url">Please enter valid url</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="pink-btn btn" ng-click="submitted1=true" ng-disabled="!sociallink.$valid">Update</button>
                        </div>
                    </div>
                </section>
            </section>
        </form> -->
    </div>
    <!-- //Form COntainer --> 
</div>
<!-- //Container -->
