@media (min-width: 993px) and (max-width: 1199px)
	{
		footer h2{font-size:16px;}
	}
@media (min-width: 768px) and (max-width: 992px)
	{
		.nwsltr input[type="text"]{padding-right:34px;}
		.ent{ padding:0 8px;}
		.ent i{font-size:18px;}
		footer h2{font-size:16px;}
		.social-media > li{padding:0 6px;}
	}

@media all and (max-width: 1199px) 
	{
		.container{width:100%;}
		.gray-frame, .fieldSection, .form-section{padding:15px;}
		.fixed-row{width:100%; padding-left:30px; padding-right:30px; left:0;}
		
	}

@media all and (max-width: 1023px) 
	{
		
		.left-label > label{float:none; width:auto; text-align:left; margin:0 0 10px 0; }
		.right-fields{margin-left:0;}
		.iconic-text.actn-div a{margin-left:0;}
	}

@media all and (max-width: 767px) 
	{
		h1{font-size:18px; padding:20px 0;}
		.mob-clear:after{content:" "; display:block; visibility:hidden; height:0; clear:both; font-size:0;}
		.welcometxt{margin:0 -15px; padding:10px 15px; border-bottom:1px rgba(255,255,255,0.2) solid; float:none; }
		.price {margin-top:-20px;}
		footer ul, .activity{margin-bottom:20px;margin-top:0px;}
		footer h2{margin-bottom:10px;}	
		/*footer i{margin:0px 10px 20px 0px;}*/
		.nwsltr input[type="text"], .ent{margin-top:10px;}
		.stage-container .stage{width:auto;margin-left:-2px;margin-right:-3px;float:none;}
		.stage-container{text-align:center;}
		.stage-container .stage::before, .stage-container .stage::after{display:none;}
		.stage-container .stage-title{display:none;}
		/*.form-section .form-group .fieldSection{padding:0px;background:none;}*/
		.list-event-date > div{padding:0px; line-height:30px;}
		
		.legends li{width:50%;}
		.prof-hd{padding-right:40px;}
		.no-icon.prof-hd{padding-left:15px;}
		.rt-img{right:15px;}
		.right-btns{float:none;}
		
		.btn, .top-buttons .btn{width:100%; margin-left:0; margin-right:0;}
		.navbar .container{padding-left:0; padding-right:0;}
		#primary_nav_wrap > ul > li{width:100%;}
		#primary_nav_wrap ul ul{position:static;}
		.sel-d label{padding:0px;}
		.editor-btn .btn {margin:6px 0;}
		
		#wrapper{margin-bottom:0; min-height:auto;}
		footer, #wrapper:after {height: auto; }
		
		.f-logo{margin-top:0;}
		.m-scroll-div{width:100%; overflow:auto;}
		.m-width{width:450px;}
		.wt-frame.form-section{margin:0 -15px;}
		.btn-rtpos{padding-right:0;}
		.btn-rtpos .btn{position:static; margin:10px 0;}
		.mob-mt20{margin-top:20px;}
		.mob-mt10{margin-top:10px;}
		.v-impr{display:block;}
		.popup-widget{width:100%; position:absolute; left:0; margin-left:0; border-radius:0; }
		.datecol{position:absolute; right:0; top:3px; width:100%; text-align:center; padding-left:15px;}
		.m-fw{width:100% !important;}
		
		.from-to.posrt{position:static; padding:10px; margin-top:10px;}
		.from-to.posrt > li{margin:5px;}
		.from-to.posrt label{width:50px;}
		
		.sort-url > li .p-t10 {padding-top: 0;}
	}

@media all and (max-width: 550px)
	{
		.stage-container .stage-icon{width:40px; height:40px;font-size:20px;line-height:34px;}
		.stage-container .stage-icon i{font-size:20px;}
	} 

@media all and (max-width: 400px)
	{
		header .logo{width:220px;}
		.footer_nav a{font-size:12px; margin:0 7px;}
	} 