/* Google Font Import Code
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic");
@import url("login.css");

/* Reset CSS
   ========================================================================== */
html, body {height: 100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0;}

body { background-color: #f3f3f3; color: #333333; font-family: 'Open Sans', sans-serif; font-size:14px; line-height: 1;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 700; margin-bottom: 10px; }
h1, .h1 { font-size: 24px; }
h2, .h2 { font-size: 18px; }
h3, .h3 { font-size: 16px; }
h4, .h4 { font-size: 14px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

/* Selection CSS */
::-moz-selection { background: #0275d0; color:#ffffff;}
::selection { background: #0275d0; color:#ffffff;}
 
/* Common CSS
   ========================================================================== */
ol, ul {list-style: none;}
a{color:#801517; white-space:nowrap;}
a:active, a:hover, a:focus { outline: 0; text-decoration:none; color:#333; }
b, strong { font-weight: bold;}
img { border: 0;}

/* Main CSS
   ========================================================================== */
.checkbox-inline, .radio-inline{padding-left:0;}

.cl-list > li:after{content:""; display:block; visibility:hidden; overflow:hidden; clear:both; font-size:0; line-height:0;}

/* Header Default CSS
   ========================================================================== */
header{ background-color: #475059; color: #ffffff;}
header .logo{margin:17px 0; display:block; float:left;}
header .logo img, .user-pic img{display:block;}

.welcometxt{padding: 17px 0; font-weight: 700; float:right;}
.welcometxt > a{ color: #fff; line-height:36px; display:inline-block; float:left; padding:0 15px;}
.user-pic{display:inline-block; float:left; margin-right:6px;}
.user-pic img{border-radius:50%; overflow:hidden;}
.noti-link{font-size:24px; position:relative;}
.noti-link .badge{background-color:#4dc5ac; color:#fff; font-size:10px; min-width:16px; height:16px; padding:2px 3px; position:absolute; top:-2px; right:10px;}
.navbar-toggle, .btn-navbar{background-color:#fff; border-color:#fff; margin-right:0; margin-top:17px; cursor:pointer;}
.navbar-toggle .icon-bar, .btn-navbar .icon-bar{background-color:#0275d0;}

/* Header Navigation & subNavigation CSS
   ========================================================================== */
.navigation{ background-color: #666666; border: 0 none;border-radius: 0; margin-bottom: 0px;  min-height: auto;}
#primary_nav_wrap ul { list-style: none; position: relative; margin: 0; padding: 0 }
#primary_nav_wrap > ul > li > a { color: #ffffff;  font-size: 16px; font-weight: 600; padding: 0 20px; text-align: center; line-height:37px; text-transform:uppercase; display:block; text-decoration:none; /*border-right:1px #ffffff solid;*/}
#primary_nav_wrap > ul > li { position: relative; float: left; margin: 0; padding: 0; min-width:155px;}
#primary_nav_wrap > ul > li > a:hover, #primary_nav_wrap ul > li.current-menu-item > a { background-color: #ffffff; color: #606060; }
#primary_nav_wrap ul ul { display: none; position: absolute; top: 100%; left: 0; background: #fff; padding: 0;  min-width: 155px}
#primary_nav_wrap ul ul li { float: none; }
#primary_nav_wrap ul ul a { padding: 10px; color:#606060; font-size:15px; display:block; border-bottom:1px #dadada solid;}
#primary_nav_wrap ul ul a:hover{text-decoration:none; background-color:#e5e5e5;}
#primary_nav_wrap ul ul ul { top: 0; left: 100% }
#primary_nav_wrap ul li:hover > ul { display: block }

/* Content CSS */
h1{ color: #333333; font-size: 24px; font-weight: 600; text-transform: uppercase; text-align: center; padding-top: 30px; padding-bottom: 30px; margin-bottom:0;}

/* Step Form CSS
   ========================================================================== */
.stage-container {padding: 0 0px 30px; margin: auto; max-width: 650px; display:table; }
.stage-container .stage { cursor:pointer; display: table-cell; position: relative; text-align: center; width:190px; padding: 0 15px; }
.stage-container .stage:before,	.stage-container .stage:after {	position: absolute;	background-color: #969696;top: 34px; width: 50%;height: 2px;content: '';}
.stage-container .stage:before { left: 0; }
.stage-container .stage:after  { right: 0; }
.stage-container .stage:first-child:before { display: none; }
.stage-container .stage:first-child + .stage + .stage + .stage:after { display: none; }
.stage-container .stage-icon {display: inline-block; width: 67px; height: 67px; background-color: #f3f3f3; text-align: center; font-size: 34px;  line-height: 58px; color: #969696; border: 2px solid #969696;	position: relative;	z-index: 1; -webkit-border-radius: 50%;	border-radius: 50%;}
/*	Current stage  */
.stage-container .stage.current .stage-icon, .stage-container .stage:hover .stage-icon { background-color: #801517; border: 2px solid #801517; color: #fff; }
.stage-container .stage.current:after, .stage-container .stage.current:before { }
/*	end Current stage  */
/*	Success stage  */
.stage-container .stage.success .stage-icon { background-color: #0275d0; border: none;}
.stage-container .stage.success:after, .stage-container .stage.success:before { background-color: #0275d0; border: none;		}
 /*	end Succes stage  */
.stage-container .stage-title { color: #969696; font-weight: 600;  margin-top: 20px; font-size:16px; line-height:22px;}
.stage-container .stage.current .stage-title, .stage-container .stage:hover .stage-title  { color: #801517;}

/** Form Css **/
.wt-frame{ background-color: #ffffff; padding: 40px 68px; /*margin-top: 30px;*/}
.form-section fieldset {display: none;}
/*.form-section .form-group { margin-bottom: 30px;}*/
.form-section .field-group { padding-top: 20px;}
label{ color: #333333; font-size:14px; margin-bottom: 11px; }
.form-section label{ display:block; font-weight: 600;}
.req{ color: #039be5;font-size:18px; line-height:10px;}

.form-control::-webkit-input-placeholder {color:#727272;}
.form-control:-moz-placeholder {color:#727272;}
.form-control::-moz-placeholder {color:#727272;}
.form-control:-ms-input-placeholder {color:#727272;}

.form-control{ background-color: #ffffff; border-radius: 0px; -webkit-border-radius: 0px; border-color: #c2c2c2; box-shadow: none; color: #333333; font-size: 14px;  height: 38px; padding: 6px 15px;}
select.form-control{padding:6px 12px; font-style:normal; color:#727272;}
.fieldSection{ background-color: #f3f3f3; padding: 30px 30px 15px;}

.editr{margin:40px 0px 0px;}/*Editor*/
.editr label{margin-bottom:30px;}

.btn{border-radius:0px; padding:8px 20px; border-radius:0px; color:#fff; font-size:14px; min-width:125px; vertical-align:middle; background-color:#4dc5ac;}
.btn .fa{margin-right:5px;}
.btn.focus, .btn:focus, .btn:hover{opacity:0.8; color:#fff; outline:none;}
.editor-btn{text-align:center;  margin:24px 0 0;}
.editor-btn .btn{margin:6px;}

.gray-btn{background:#969696;}
.btn-small{padding:5px 15px; font-weight:bold; font-size:12px; text-transform:uppercase;}
.btn-xl{font-size:18px; height:50px; min-width:250px;}

.top-buttons{margin:0 -5px;}
.top-buttons .btn{margin:0 5px 10px;}

#wrapper{min-height:100%; margin-bottom:-370px;}
#wrapper:after {content: ""; display: block;}
footer, #wrapper:after {height: 370px; }

footer{background:#475059; color:#fff; font-size:13px; line-height:20px;}
footer .container{padding-top:50px; padding-bottom:50px;}
footer h2{color:#fff;font-size:18px;font-weight:bold; margin-bottom:25px;}
.f-links li{font-size:13px; margin-bottom:12px; background:url(../images/arrow-wt.png) no-repeat left 7px; padding-left:16px;}
.f-links li a{color:#fff; text-decoration:none;}
.f-links li a:hover{color:#fff; text-decoration:underline;}
footer i{color:#fff;}
.f-logo, .f-facebook{margin:15px 0 20px;}
.contact-info > li{position:relative; margin-bottom:12px; padding-left:22px;}
.contact-info > li .fa{position:absolute; left:0; width:14px; text-align:center; top:4px;}
.newletter-row{position:relative; margin-bottom:20px;}
.nwsltr input[type="text"] {background: #fff none repeat scroll 0 0; border: 0 none; font-size: 13px; height: 48px; padding: 10px 40px 10px 10px; position: relative; width: 100%; color:#333;}
.ent {background: #fff none repeat scroll 0 0; border: 0 none; bottom: 0; padding:0 15px; height: 48px; position: absolute; right:0;}
.ent i {color: #4dc5ac; font-size: 24px; margin: 0;}
.footer-btm{background:#666;color:#fff;font-size:15px;text-align:center;padding:16px;}
.footer_nav { color: #fff; padding: 20px 0 0; float: left; }
.footer_nav a { color: #fff; font-weight: 700; font-size: 14px; text-transform: capitalize; display: inline-block; margin: 0 13px; }
.footer_nav a:first-child { margin-left: 0; }
.social-media{margin:0 -8px;}
.social-media > li {float:left; padding:0 8px;}
.social-media > li a{background:rgba(255,255,255,0.3); height:32px; width:32px; display:inline-table; text-align:center; border-radius:50%;}
.social-media > li a:hover{background:rgba(255,255,255,1);}
.social-media > li a:hover .fa{color:#333;}
.social-media > li a .fa{display:table-cell; vertical-align:middle;}
/*-----------Table--------*/
.table{background-color:#f3f3f3;}
.table > thead > tr > th, .table > thead > tr > td{font-size:12px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border:none; font-size:12px; line-height:none; /*padding:8px 15px;*/padding:8px;}
.table > thead > tr > th{ background-color:#333; color:#fff; font-weight:bold; text-transform:uppercase; vertical-align:middle;}
.table-striped > tbody > tr:nth-of-type(2n+1){background-color:#ffffff;}
/*===========Table===========*/
/*-----------Radio--------*/
input[type="radio"] { display: none; }
input[type="radio"] + label { color: #333; font-size: 14px; font-weight:400; display:inline-block;}
input[type="radio"] + label span { display: inline-block; width: 17px; height: 17px; margin: -2px 9px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; }
input[type="radio"] + label span { background-color: #ffffff; border: 2px #bbbbbb solid; position: relative;   }
input[type="radio"] + label span:after { position: absolute; height: 100%; width: 100%; top: 0; left: 0;  content: ' ';  border-radius: 50%; transition: all .2s; color:#fff;}
input[type="radio"]:checked + label span:after { background-color: #4dc5ac; }
input[type="radio"]:checked + label span{border-color:#4dc5ac;}
input[type="radio"] + label span, input[type="radio"]:checked + label span { -webkit-transition: background-color 0.2s linear; -o-transition: background-color 0.2s linear; -moz-transition: background-color 0.2s linear; transition: background-color 0.2s linear; }
/* checked mark aspect changes */
input[type="radio"] + label span:after {  opacity: 0;  transform: scale(0);}
input[type="radio"]:checked + label span:after{ opacity: 1; transform: scale(0.7); }
/*===========Radio===========*/

.custom-check input[type="checkbox"]:not(:checked), .custom-check input[type="checkbox"]:checked { position: absolute; left: -9999px; }
.custom-check input[type="checkbox"]:not(:checked) + label, .custom-check input[type="checkbox"]:checked + label { position: relative; padding-left: 25px; cursor: pointer; }
/* checkbox aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:before, .custom-check input[type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: 2px; width: 15px; height: 15px; border: 1px solid #bbbbbb; background: #fff; border-radius: 2px; font-weight: 400;/*color:#999; box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:after, .custom-check input[type="checkbox"]:checked + label:after { content: '✔'; position: absolute; top: 2px; left: 0; border-radius: 2px; width: 15px; height: 15px; line-height: 15px; text-align: center; font-size: 12px; color: #fff; transition: all .2s; background-color: #4dc5ac; }
/* checked mark aspect changes */
.custom-check input[type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0); }
.custom-check input[type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1); }
/* disabled checkbox */
.custom-check input[type="checkbox"]:disabled:not(:checked) + label:before, .custom-check input[type="checkbox"]:disabled:checked + label:before { box-shadow: none; border-color: #bbb; background-color: #ddd; }
.custom-check input[type="checkbox"]:disabled:checked + label:after { color: #333; }
.custom-check input[type="checkbox"]:disabled + label { color: #aaa; }
.custom-check input[type="checkbox"] + label { /*color:#999;*/ font-weight: 400; line-height: 18px; }

/*-------------Toggle switch-----------*/
.onoffswitch { position: relative; width: 50px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.onoffswitch-checkbox { display: none; }
.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; height: 20px; padding: 0; line-height: 20px; border: 2px solid #d9d9d9; border-radius: 20px; background-color: #d9d9d9; transition: background-color 0.3s ease-in; }
.onoffswitch-label:before { content: ""; display: block; width: 20px; margin: 0px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 30px; border: 2px solid #d9d9d9; border-radius: 20px; transition: all 0.3s ease-in 0s; }
.onoffswitch-checkbox:checked + .onoffswitch-label { background-color: #4dc5ac; }
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before { border-color: #4dc5ac; }
.onoffswitch-checkbox:checked + .onoffswitch-label:before { right: 0px; }

/*-------------Toggle switch-----------*/
.action a{font-size:18px; color:#7e7e7e; margin:0 6px; line-height:18px; vertical-align:middle;}
.action a:hover{color:#0275d0;}
.numbers, .action{text-align:right;}
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block; }
.right-btns{float:right;}

/*-------Date Picker-------*/
.uib-datepicker td, .uib-datepicker th{padding:3px;}
.uib-time, .uib-separator{vertical-align:middle;}
.uib-time.am-pm{height:36px; font-size:16px;}
.uib-separator{padding:2px;}
.uib-datepicker{background:#fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; padding:15px 25px; border:none;}
.uib-datepicker .btn-default{background:none; border:none;}
.uib-daypicker thead tr:last-child th{font-size:11px; color:#0275d0; padding:10px 0;}
.uib-daypicker thead tr:first-child{border-bottom:1px #ccc solid; }
.uib-daypicker thead tr:first-child th{padding-bottom:10px;}
.uib-datepicker > table{width:100%;}
.uib-datepicker .btn, .datepicker .btn{font-size:11px;}
.uib-datepicker .uib-title{font-size:14px;}
.uib-datepicker .uib-title strong{font-weight:400; text-decoration:underline;}
.uib-datepicker th .btn, .datepicker th .btn{color:#0275d0; padding:0;}
.uib-datepicker .btn.active, .uib-datepicker .btn:active, .uib-datepicker .btn .text-info{ border-radius:50%;}
.uib-timepicker .btn.focus, .uib-timepicker .btn:focus, .uib-timepicker .btn:hover{background:none; /*border:none;*/ box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.uib-datepicker .btn.disabled, .uib-datepicker .btn[disabled], .uib-datepicker fieldset[disabled] .btn{color:#444; opacity:1;}
.uib-day .btn, .uib-datepicker .btn .text-info{width:25px; height:25px; line-height:25px; text-align:center; padding:0;}
.uib-datepicker .btn.active, .uib-datepicker .btn .text-info{background-color:#0275d0; color:#fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.uib-datepicker .btn.active{background:#801517;}
.uib-datepicker .btn .text-info{display:block;}
.uib-years .btn, .uib-yearpicker .btn .text-info {height: 50px;  line-height: 50px;  width: 50px;}
.uib-yearpicker .btn, .uib-monthpicker .btn{padding:0;}
.uib-months .btn, .uib-monthpicker .btn .text-info {height: 50px;  line-height: 50px; width: 65px;}
.uib-button-bar{overflow:hidden;}
.uib-button-bar .btn{color:#fff;}
/*======= Date Picker ========*/

.panel-re{border:none;}
.panel-re.panel-primary {background-color: #00c0ef;}
.panel-re.panel-primary > .panel-heading {background-color: #00c0ef; border-color: #00c0ef;}
.huge {font-size: 24px; margin-bottom:10px;}
.panel, .panel-heading{border-radius:0;}
.panel-re .panel-footer.same-as{background-color:rgba(0,0,0,0.5); font-size:12px; color:#fff; border:none;}

.panel-primary a{color:#fff;}

.panel-re.panel-green {background-color: #00a65a;}
.panel-re.panel-green .panel-heading {background-color: #00a65a; border-color: #00a65a; color: #fff;}
.panel-re.panel-green a {color: #00a65a;}

.panel-re.panel-yellow {background-color: #f39c12;}
.panel-re.panel-yellow .panel-heading {background-color: #f39c12; border-color: #f39c12; color: #fff;}
.panel-re.panel-yellow a {color: #f39c12;}

.panel-re.panel-red {background-color: #dd4b39 ;}
.panel-re.panel-red .panel-heading {background-color: #dd4b39 ; border-color: #dd4b39 ; color: #fff;}
.panel-re.panel-red a {color: #dd4b39 ;}

.panel-re .fa{color:#000; opacity:0.3;}

.panel-heading:before,
.panel-heading:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.panel-heading:after {
  clear: both;
}
.panel-heading:before,
.panel-heading:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.panel-heading:after {
  clear: both;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-heading > .panel-title {
  float: left;
  /*padding: 10px 15px;*/
}
.panel-heading > .panel-title > * {
  margin: 0;
}
.panel-heading > .panel-title > span {
  font-weight: normal;
}
.panel-heading > .panel-options {
  float: right;
  /*padding-right: 15px;*/
}
.panel-heading > .panel-options > a {
  margin-top: 10px;
}
.panel-heading > .panel-options > a[rel="reload"] > i {
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
.panel-heading > .panel-options > a[rel="collapse"] > i {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.panel-heading > .panel-options > .nav-tabs {
  margin-top: 0;
  margin-bottom: 0;
}
.panel-heading > .panel-options > .nav-tabs > li {
  margin-right: 4px;
}
.panel-heading > .panel-options > .nav-tabs > li:last-child {
  margin-right: 0;
}

.calendar-input{background:url(../images/date-icon.jpg) no-repeat right center;}
.from-to .calendar-input{width:150px;}
.from-to{margin:0 5px; float:left;}
.from-to > li{float:left; margin: 0 5px;}
.from-to label{float:left; margin:12px 10px;}
.posrt{position:absolute; top:0; right:120px;}
.manual-cal{font-size:14px; padding:0 5px; text-align:center; height:30px; width:30px; line-height:30px; display:inline-block; color:#fff; background:#4dc5ac; vertical-align:middle; border-radius:50%;}
.d-title{border-bottom:1px #ccc solid; padding-bottom:10px; position:relative; background:#fff;}
.d-title h3{font-size:18px; margin:5px 0;}
.top-overview{box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); overflow:hidden; position:relative;}
.top-overview h3{font-weight:600; background:#f3f3f3; padding:10px; text-align:center; margin:0;}
.icon-p{position:absolute; left:10px; top:50%; margin-top:-20px;}
.icon-p .fa{color:#ccc; line-height:40px; font-size:30px;}
.top-overview h4{font-size:24px; margin-bottom:5px; font-weight:600;}

.ov-value{font-size:13px;}
.panel-title .neticn{margin-right:5px;}

.with-icon{position:relative; padding:20px 20px 20px 70px;}

.neticn{text-align:center; border-radius:50%; height:40px; width:40px; line-height:40px; background:#333; color:#fff; display:inline-table; vertical-align:middle;}
.neticn .fa {display: table-cell; line-height: normal; vertical-align: middle;}
.neticn.wt-brder{border:1px rgba(255,255,255,0.5) solid; background:none;}
.fbnet {background: #4867aa}
.salesnet{background:#c129b9;}
.emailnet{background:#e84c3d;}

.sales-view h3{background:#c129b9; color:#fff;}
.fb-marketing h3{background:#4867aa; color:#fff;}
.email-marketing h3{background:#e84c3d; color:#fff;}

.with-icon .neticn{background:none;}

/*.fb-marketing{border-color:#4867aa;}
.fb-marketing h4{color:#4867aa;}

.sales-view{border-color:#c129b9;}
.sales-view h4{color:#c129b9;}

.email-marketing{border-color:#e84c3d;}
.email-marketing h4{color:#e84c3d;}*/

.sml-input, select.sml-input{padding:0 6px; height:30px;}
.values-list, .gray-text{color:#999;}
.values-list{margin-left:-3px; margin-right:-3px;}
.values-list > li{float:left; width:20%; text-align:center; padding:0 5px 10px;}
.values-list h3{margin-bottom:3px; }

.data-value h3, .values-list h3{color:#4dc5ac; font-size:35px; font-weight:600;}

.vl-div{cursor:pointer;}
.vl-div:hover, .vl-div.active{background:#4dc5ac; color:#fff;}
.vl-div:hover h3, .vl-div.active h3{color:#fff;}

.grp-vl{display:inline-table; width:150px; height:150px; margin:0 auto; background:#4dc5ac; color:#fff; border-radius:50%; text-align:center; position:relative; margin-top:20%;}
.grpvl{display:table-cell; vertical-align:middle;}
.grpvl h3{margin-bottom:5px;}

.panel.panel-gray {border-color: transparent; box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);}
.panel.panel-gray > .panel-heading {background-color: #666666; border-color: #666666; color:#fff;}
.gray-frame{background:#f3f3f3; padding:15px;}
.ttl{margin:5px 0;}
.panel.panel-gray > .panel-heading a{color:#fff; border:1px transparent solid;}
.ttl a{color:#333;}
.ttl a:hover{color:#4dc5ac;}

.panel.panel-fb {border-color: #4867aa;}
.panel.panel-fb > .panel-heading {background-color: #4867aa; border-color: #4867aa; color:#fff;}

.panel.panel-sale {border-color: #c129b9;}
.panel.panel-sale > .panel-heading {background-color: #c129b9; border-color: #c129b9; color:#fff;}

.panel.panel-email {border-color: #e84c3d;}
.panel.panel-email > .panel-heading {background-color: #e84c3d; border-color: #e84c3d; color:#fff;}

.module-widget{border-bottom:1px #ccc solid; margin-bottom:15px;}
.icon24{width:24px; height:24px; font-size:12px;}
.tb-tr{text-align:right!important; }
.rt-bdr{border-right:1px #bbb dotted;}

.data-tabl{width:100%;}
/*.table.data-tabl > tbody > tr > th, 
.table.data-tabl > tfoot > tr > th, 
.table.data-tabl > thead > tr > th{background:#f3f3f3; color:#333;}*/
.data-tabl > tbody > tr > td, .data-tabl > tbody > tr > th, 
.data-tabl > tfoot > tr > td, .data-tabl > tfoot > tr > th, 
.data-tabl > thead > tr > td, .data-tabl > thead > tr > th{font-size:14px; border-bottom: 1px solid #eee; padding:8px 5px;}

.data-tabl > thead > tr > td:first-child, .data-tabl > thead > tr > th:first-child,
.data-tabl > tbody > tr > td:first-child, .data-tabl > tbody > tr > th:first-child,
.data-tabl > tfoot > tr > td:first-child, .data-tabl > tfoot > tr > th:first-child{padding-left:0;}
.data-tabl > thead > tr > td:last-child, .data-tabl > thead > tr > th:last-child,
.data-tabl > tbody > tr > td:last-child, .data-tabl > tbody > tr > th:last-child,
.data-tabl > tfoot > tr > td:last-child, .data-tabl > tfoot > tr > th:last-child{padding-right:0;}

.totl-col{font-weight:bold;}

/*.data-div{background:#fff; padding:15px;}*/
.vs{display:inline-block; margin:0 5px;}

.wtframe{background:#fff; padding:15px; /*box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);*/}
.date-txt{margin-bottom:10px;}
.stats-info{background:#fff;}
.stats-info > li {border-bottom: 1px solid #eee; padding: 10px 0;}
.ttl-email .badge{background:#e84c3d; color:#fff;}

.panel-white {background: #fff none repeat scroll 0 0; padding:15px; box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);}

.btn-dropdown .btn{min-width:inherit; padding-left:10px; padding-right:10px;}
.btn-dropdown .caret{margin-left:5px;}


/*--------Always at Bottom---------*/
.f-w{width:100%;}
.m-t0{margin-top:0;}
.m-t10 {margin-top: 10px;}
.m-t35 {margin-top: 35px;}
.m-t40 {margin-top: 40px;}
.f-12{font-size:12px;}
.f-13{font-size:13px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-20{font-size:20px;}
.f-24{font-size:24px;}
.f-30{font-size:30px;}
.mt-3{margin-top:-3px;}
.m-b0{margin-bottom:0px;}
.m-b20{margin-bottom:20px;}
.p-t0{padding-top:0;}
.p-t10{padding-top:10px;}
.p-b15{padding-bottom:15px;}
.u-text{text-decoration:underline;}
.u-text:hover{text-decoration:none;}
.bb-1{border-bottom:1px #ccc solid;}
.m-h183{min-height:183px;}
.t-upper{text-transform:uppercase;}
.t-lower{text-transform:inherit;}
.f-n{font-weight:400;}
.f-b{font-weight:700;}
.f-sb{font-weight:600;}
.w-auto{width:auto; display:inline-block;}
.w-50{width:50px;}
.w-100{width:100px;}
.w-293{width:293px;}
.w-350{width:350px;}
.h-200{height:200px!important;}
.sm-bold{font-weight:600;}
.inline-el{display:inline-block; vertical-align:middle;}
.l-b{display:block;}

