<div class="container">
     <h1>Welcome to ALIST Reporting</h1>
    <!-- start round loader--->
      <div ng-class="loadingclass"></div>
    <div ng-class="progressbardiv" class="loader-container-bar">
                <div class="progress-wrapper-bar">
                    <div class="progress-bar ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}%</div>
                    <round-progress  max="max" current="current"  color="{{currentColor}}"  bgcolor="{{ bgColor }}"
                        radius="{{ radius }}" semi="isSemi" rounded="true" stroke="{{stroke}}" clockwise="true"
                        responsive="false" duration="{{ duration }}" animation="{{ currentAnimation }}"
                        animation-delay="{{ animationDelay }}"  on-render="showPreciseCurrent">
                    </round-progress>
                </div>
     </div>
     <!-- end round loader--->
    <!-- Form COntainer -->
    
    <!-- Form COntainer -->
    <div class="wt-frame form-section trans-div">
     <section id="fixed">
      <section class="d-title form-group trans-div">
             <div class="clearfix">
             <h3 class="pull-left">Overview</h3>
             <div class="date-range pull-right">
                    <div class="btn-group btn-dropdown" uib-dropdown is-open="status2.isopen">
                      <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
                        {{ filter_title }} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a ng-click="getFilter(7);">7 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter(15);">15 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter(30);">30 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter('custom');">Custom</a></li>
                      </ul>
                    </div>
                         
                   </div>
              <ul class="from-to posrt" ng-if="show_custom == 1">
                    <li>
                       <label>From</label> 
                       <input type="text" class="form-control w-auto calendar-input">
                    </li>
                    <li>
                       <label>To</label> 
                       <input type="text" class="form-control w-auto calendar-input">
                    </li>
                </ul>
             </div>  
      </section>
        
      <section class="row">
            <section class="col-sm-4 form-group">
                <section class="top-overview sales-view">                   
                    <h3>Sales</h3>
                    <div class="with-icon">  
                        <p class="icon-p"><span class="neticn salesnet"><i class="fa fa-ticket" aria-hidden="true"></i></span></p> 
                        <section class="ov-value row">
                             <div class="va-left col-xs-6">
                                 <h4>{{sales_count.sold_ticket}}</h4>
                                 <p class="gray-text">Ticket Sold</p>
                             </div>
                             <div class="va-right col-xs-6">
                                 <h4>${{sales_count.revenue}}</h4>
                                 <p class="gray-text">Revenue</p>
                             </div>
                        </section> 
                    </div>              
                </section>
            </section>
            <section class="col-sm-4 form-group">
                <section class="top-overview fb-marketing">
                    <h3>Facebook Marketing</h3>
                    
                    <div class="with-icon">  
                    <p class="icon-p"><span class="neticn fbnet"><i class="fa fa-facebook" aria-hidden="true"></i></span></p>   
                    <section class="ov-value row">
                         <div class="va-left col-xs-6">
                             <h4>$ {{facebook_count.spend}}</h4>
                             <p class="gray-text">Spend</p>
                         </div>
                         <div class="va-right col-xs-6">
                             <h4>{{facebook_count.conversion}}</h4>
                             <p class="gray-text">Conversion</p>
                         </div>
                    </section>  
                    </div>             
                </section>
            </section>
            <section class="col-sm-4 form-group">
                <section class="top-overview email-marketing">
                    <h3>Email Marketing</h3>
                    <div class="with-icon">  
                    <p class="icon-p"><span class="neticn emailnet"><i class="fa fa-envelope-o" aria-hidden="true"></i></span></p>   
                    <section class="ov-value row">
                         <div class="va-left col-xs-6">
                             <h4>{{email_count.email_sent}}</h4>
                             <p class="gray-text">Sent</p>
                         </div>
                         <div class="va-right col-xs-6">
                             <h4>{{email_count.email_clicks}}</h4>
                             <p class="gray-text">Clicks</p>
                         </div>
                    </section>  
                    </div>             
                </section>
            </section>
        </section>
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i class="fa fa-facebook" aria-hidden="true"></i></span> Facebook</h3>
            </div>
            <div class="panel-body gray-frame">
                <section class="brief-info form-group">
                    <ul class="values-list clearfix">
                       <li>
                           <div class="wtframe vl-div {{focus_active1}}" ng-click="focus_on_breakdown('Clicks','clicks',facebook_count.clicks,1)">
                              <h3>{{facebook_count.clicks}}</h3>
                              <p>Clicks</p>
                          </div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active2}}" ng-click="focus_on_breakdown('Impressions','impressions',facebook_count.impressions,2)">
                          <h3>{{facebook_count.impressions}}</h3>
                          <p>Impressions</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active3}}" ng-click="focus_on_breakdown('CTR','ctr',facebook_count.ctr,3)">
                          <h3>{{facebook_count.ctr}}</h3>
                          <p>CTR</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active4}}" ng-click="focus_on_breakdown('Spend','spend',facebook_count.spend,4)">
                          <h3>${{facebook_count.spend}}</h3>
                          <p>Spend</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active5}}" ng-click="focus_on_breakdown('Avg. CPC','cpc',facebook_count.cpc,5)">
                          <h3>${{facebook_count.cpc}}</h3>
                          <p>Avg. CPC</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active6}}" ng-click="focus_on_breakdown('CPP','cpp',facebook_count.cpp,6)">
                          <h3>{{facebook_count.cpp}}</h3>
                          <p>CPP</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active7}}" ng-click="focus_on_breakdown('Social Spend','social_spend',facebook_count.social_spend,7)">
                          <h3>${{facebook_count.social_spend}}</h3>
                          <p>Social Spend</p></div>
                       </li>
                      <li><div class="wtframe vl-div {{focus_active8}}" ng-click="focus_on_breakdown('Social Impression','social_impressions',facebook_count.social_impressions,8)">
                          <h3>{{facebook_count.social_impressions}}</h3>
                          <p>Social Impression</p></div>
                       </li>
                       <li><div class="wtframe vl-div {{focus_active9}}" ng-click="focus_on_breakdown('Reach','reach',facebook_count.reach,9)">
                          <h3>{{facebook_count.reach}}</h3>
                          <p>Reach</p></div>
                       </li>
                       <li><div class="wtframe vl-div {{focus_active10}}" ng-click="focus_on_breakdown('CPM','cpm',facebook_count.cpm,10)">
                          <h3>{{facebook_count.cpm}}</h3>
                          <p>CPM</p></div>
                       </li>
                    </ul>
                </section>
            
               
                  <div class="form-group module-widget">
                     <section class="panel-white">
                         <div class="row form-group">
                            <h3 class="col-xs-2 ttl">
                              <a href="#">Breakdowns <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            </h3>
                            
                            <div class="col-xs-4 rt-sort">
                            <div class="btn-group btn-dropdown" uib-dropdown is-open="status11.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">       {{fb_breakdown_title | uppercase}} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a >By Delivery</a>
                                  <ul class="dropsubmenu">
                                   <li role=""><a ng-click="facebook_breakdown('age');">Age</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('gender');">Gender</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('age-gender');">Age and Gender</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('country');">Country</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('region');">Region</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('impression_device');">Impressive Device</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('device_platform');">Platform</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('product_id');">Product Id</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('hourly_stats_aggregated_by_advertiser_time_zone');">Time of Day(Advert Account Time Zone)</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('hourly_stats_aggregated_by_audience_time_zone');">Time of Day(Impressive Time Zone)</a></li>
                                  </ul>
                                </li>
                                
                                <li role="menuitem"><a>By Action</a>
                                   <ul class="dropsubmenu">
                                   <li role=""><a ng-click="facebook_breakdown('action_reaction');">Post Reaction Type</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('action_destination');">Destination</a></li>
                                   
                                   <li role=""><a ng-click="facebook_breakdown('action_video_type');">Video View Type</a></li>
                                   <li role=""><a ng-click="facebook_breakdown('action_video_sound');">Video sound</a></li>
                                   
                                   <li role=""><a ng-click="facebook_breakdown('action_carousel_card_name');">Carousel Card</a></li>
                                   </ul>
                                </li>
                                
                              </ul>
                            </div>
                            </div>
                            
                            <div class="col-xs-6 text-right rt-sort">
                            <div class="btn-group btn-dropdown" uib-dropdown is-open="status5.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">       {{fb_chart_title | uppercase}} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="facebook_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="facebook_graph('line');">Line Chart</a></li>
                                <!--<li role="menuitem"><a ng-click="facebook_graph('pie');">Pie Chart</a></li>-->
                              </ul>
                            </div>
                            <a href="#" class="m-l15 v-m"><i class="fa fa-file-text-o icon-fa" aria-hidden="true"><span class="filename">CSV</span><span class="sub-fa fa fa-arrow-down"></span></i></a>
                            </div>
                          </div>
                         
                         <section class="row">
                             <section class="col-sm-8 form-group">
                                 
                                    <div class="col-sm-4 pull-right">
                                       <div class="grp-vl">
                                          <div class="grpvl">
                                               <h3 class="f-24">{{f_checked}}</h3>
                                               <p>{{focus_title}}</p>
                                          </div>
                                       </div>
                                    </div>
                                   <div class="col-sm-8 data-div">
                                        <!--<img src="assets/images/graph.jpg" alt="" style="width:100%;" />-->
                                        <div id="container_fb" style="min-width: 310px;height:auto; margin: 0 auto"></div> 
                                   
                                   </div>
                                
                             </section>
                             <section class="col-sm-4">
                                   <table class="data-tabl table-striped"> 
                                      <thead> 
                                         <tr ng-if="fb_breakdown_title == 'age-gender' ||  fb_breakdown_title == 'gender'">                                         
                                            <th colspan="2" class="tb-tr rt-bdr">Male</th> 
                                            <th colspan="2">Female</th> 
                                         </tr>
                                         <tr ng-if="fb_breakdown_title != 'age-gender' && fb_breakdown_title != 'gender'">                                         
                                            <th colspan="2" class="tb-tr rt-bdr">% Value</th> 
                                            
                                         </tr>
                                     </thead>
                                     <tbody> 
                                     
                                     <tr ng-if="fb_breakdown_title == 'age-gender' || fb_breakdown_title == 'gender'" ng-repeat="(key,fbdata) in fb_2d_bar.m_categories"> 
                                        <td><strong>{{fbdata}}</strong></td> 
                                        <td class="tb-tr rt-bdr">{{fb_2d_bar.m_series_percent_data[key]}}%</td> 
                                        <td>{{fb_2d_bar.f_series_percent_data[key]}}%</td> 
                                        <td class="tb-tr totl-col"></td> 
                                    </tr>
                                     <tr ng-if="fb_breakdown_title != 'age-gender' && fb_breakdown_title != 'gender'" ng-repeat="(key,fbdata) in fb_2d_bar.m_categories"> 
                                        <td><strong>{{fbdata}}</strong></td> 
                                        <td class="tb-tr rt-bdr">{{fb_2d_bar.m_series_percent_data[key]}}%</td> 
                                        
                                        <td class="tb-tr totl-col"></td> 
                                    </tr> 
                                   
                                  </tbody> </table>
                             </section>
                         </section>  
                     </section>      
                       
                  </div>
                  
                  <div class="form-group module-widget">
                     <section class="panel-white">
                     <div class="row form-group">
                        <h3 class="col-xs-7 ttl">Comparison</h3>
                        <div class="col-xs-5 text-right rt-sort">
                           <div class="btn-group btn-dropdown" uib-dropdown is-open="status9.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                Clicks <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#">Clicks</a></li>
                                <li role="menuitem"><a href="#">Impressions</a></li>
                                
                              </ul>
                            </div>
                        <span class="vs">vs</span> <div class="btn-group btn-dropdown" uib-dropdown is-open="status10.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                Impressions <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#">Impressions</a></li>
                                <li role="menuitem"><a href="#">Deeplink clicks</a></li>
                                
                                
                                
                              </ul>
                            </div>
                            <a href="#" class="m-l15 v-m"><i class="fa fa-file-text-o icon-fa" aria-hidden="true"><span class="filename">CSV</span><span class="sub-fa fa fa-arrow-down"></span></i></a>
                         </div>
                     </div>
                                
                      <div class="data-div"><div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                      </section>
                  </div>
                 
             </div>
            </div>
        
        
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i aria-hidden="true" class="fa fa-ticket"></i></span> Sale</h3>
            </div>
            <div class="panel-body gray-frame">
                  
                  <div class="form-group module-widget">
                     <section class="panel-white">
                     <div class="row form-group">
                        <div class="col-xs-7"><div class="btn-group btn-dropdown" uib-dropdown is-open="status6.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                {{sales_graph_title | uppercase}} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="sales_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="sales_graph('line');">Line Chart</a></li>
                                <li role="menuitem"><a ng-click="sales_graph('pie');">Pie Chart</a></li>
                              </ul>
                            </div></div>
                        <div class="col-xs-5 text-right rt-sort">                        
                          <a href="#" class="m-l15 v-m"><i class="fa fa-file-text-o icon-fa" aria-hidden="true"><span class="filename">CSV</span><span class="sub-fa fa fa-arrow-down"></span></i></a>
                         </div>
                     </div>
                     
                     <section class="row">
                         <section class="col-sm-9 form-group">
                            <div class="data-div"> <div id="container_sales" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                         </section>
                         <section class="col-sm-3 form-group">
                            <ul class="stats-info data-value">
                               <li>
                               	    <h3>1520</h3>
                                    <p class="gray-text">Ticket Sold</p>
                               </li> 
                               <li>
                               		<h3>$520</h3>
                                   <p class="gray-text">Total Revenue</p>
                               </li> 
                               <li>
                               		<h3>$400</h3>
                                   <p class="date-txt">Aug 15, 2016</p>
                                   <p class="gray-text">Top Day</p>
                               </li> 
                            </ul>
                            
                         </section>
                     </section> 
                     </section>       
                       
                  </div>
                  
             </div>
            </div>  <!--Sale Summary--> 
            
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i aria-hidden="true" class="fa fa-envelope-o"></i></span> Email</h3>
            </div>
            <div class="panel-body gray-frame">
                  <div class="form-group module-widget">
                  <section class="panel-white">
                     <div class="row form-group">
                        <div class="col-xs-7">
                         <div class="btn-group btn-dropdown" uib-dropdown is-open="status8.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">                   {{ email_graph_title }} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="email_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="email_graph('line');">Line Chart</a></li>
                                <li role="menuitem"><a ng-click="email_graph('pie');">Pie Chart</a></li>
                              </ul>
                         </div>
                        </div>
                        <div class="col-xs-5 text-right rt-sort"><a href="#"><i class="fa fa-file-text-o icon-fa" aria-hidden="true"><span class="filename">CSV</span><span class="sub-fa fa fa-arrow-down"></span></i></a></div>
                       
                    </div>
                     
                     
                         <section class="row">
                             <section class="col-sm-8 form-group">
                                <div class="data-div"><div id="container_email" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                             </section>
                             <section class="col-sm-4 form-group">
                                <ul class="list-group stats-info cl-list">
                                  <li class="ttl-email">
                                    <span class="badge pull-right">{{email_count.email_sent}}</span>
                                    <strong>Total Email Sent</strong>
                                  </li>
                                  <li ng-repeat="e_data in  e_graph">
                                   <div ng-if="e_data.event_type==0">
                                    <span class="badge pull-right alert-success">{{e_data.CNT}}</span>                                    Opened Emails
                                   </div>
                                   <div ng-if="e_data.event_type==1">
                                    <span class="badge pull-right alert-success">{{e_data.CNT}}</span>                                    Links Clicked
                                   </div>
                                   <div ng-if="e_data.event_type==3">
                                    <span class="badge pull-right alert-danger">{{e_data.CNT}}</span>                                    Email Bounced
                                   </div>
                                   <div ng-if="e_data.event_type==2">
                                    <span class="badge pull-right alert-danger">{{e_data.CNT}}</span>                                    Unsubscribes
                                   </div>
                                   </li>
                                   
                                  <li>
                                    <span class="badge pull-right alert-danger">{{email_3d_pie.total_unopened}}</span>                                     Unopened
                                  </li>
                                  
                                </ul>
                                
                             </section>
                         </section>  
                     </section>      
                       
                  </div>
                  
             </div>
            </div>  <!--Email Summary--> 
     </section> 
    </div>

<!-- //Form COntainer -->

<!-- //Form COntainer -->
    <!-- //Form COntainer --> 
    <div id="sticky-anchor"></div>
 </div>

<style>
     .dropsubmenu li a{
          display: block;
          padding:7px 30px;
     }
</style>