<div class="container">
     <h1>Welcome to ALIST Reporting</h1>
    
    <!-- Form COntainer -->
    
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
      <section class="d-title form-group clearfix">
             <h3 class="pull-left">Overview</h3>
             <div class="date-range pull-right">
                    <div class="btn-group btn-dropdown" uib-dropdown is-open="status2.isopen">
                      <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
                        {{ filter_title }} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a ng-click="getFilter(7);">7 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter(15);">15 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter(30);">30 Days</a></li>
                        <li role="menuitem"><a ng-click="getFilter('custom');">Custom</a></li>
                      </ul>
                    </div>
                         
                   </div>
              <ul class="from-to posrt" ng-if="show_custom == 1">
                    <li>
                       <label>From</label> 
                       <input type="text" class="form-control w-auto calendar-input">
                    </li>
                    <li>
                       <label>To</label> 
                       <input type="text" class="form-control w-auto calendar-input">
                    </li>
                </ul>
        </section>
        
      <section class="row">
            <section class="col-sm-4 form-group">
                <section class="top-overview sales-view">                   
                    <h3>Sales</h3>
                    <div class="with-icon">  
                        <p class="icon-p"><span class="neticn salesnet"><i class="fa fa-ticket" aria-hidden="true"></i></span></p> 
                        <section class="ov-value row">
                             <div class="va-left col-xs-6">
                                 <h4>{{sales_count.sold_ticket}}</h4>
                                 <p class="gray-text">Ticket Sold</p>
                             </div>
                             <div class="va-right col-xs-6">
                                 <h4>${{sales_count.revenue}}</h4>
                                 <p class="gray-text">Revenue</p>
                             </div>
                        </section> 
                    </div>              
                </section>
            </section>
            <section class="col-sm-4 form-group">
                <section class="top-overview fb-marketing">
                    <h3>Facebook Marketing</h3>
                    
                    <div class="with-icon">  
                    <p class="icon-p"><span class="neticn fbnet"><i class="fa fa-facebook" aria-hidden="true"></i></span></p>   
                    <section class="ov-value row">
                         <div class="va-left col-xs-6">
                             <h4>$ {{facebook_count.spend}}</h4>
                             <p class="gray-text">Spend</p>
                         </div>
                         <div class="va-right col-xs-6">
                             <h4>{{facebook_count.conversion}}</h4>
                             <p class="gray-text">Conversion</p>
                         </div>
                    </section>  
                    </div>             
                </section>
            </section>
            <section class="col-sm-4 form-group">
                <section class="top-overview email-marketing">
                    <h3>Email Marketing</h3>
                    <div class="with-icon">  
                    <p class="icon-p"><span class="neticn emailnet"><i class="fa fa-envelope-o" aria-hidden="true"></i></span></p>   
                    <section class="ov-value row">
                         <div class="va-left col-xs-6">
                             <h4>550</h4>
                             <p class="gray-text">Sent</p>
                         </div>
                         <div class="va-right col-xs-6">
                             <h4>220</h4>
                             <p class="gray-text">Clicks</p>
                         </div>
                    </section>  
                    </div>             
                </section>
            </section>
        </section>
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i class="fa fa-facebook" aria-hidden="true"></i></span> Facebook</h3>
            </div>
            <div class="panel-body gray-frame">
                <section class="brief-info form-group">
                    <ul class="values-list clearfix">
                       <li>
                           <div class="wtframe vl-div">
                              <h3>{{facebook_count.clicks}}</h3>
                              <p>Clicks</p>
                          </div>
                       </li>
                      <li><div class="wtframe vl-div active">
                          <h3>{{facebook_count.impressions}}</h3>
                          <p>Impressions</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>{{facebook_count.ctr}}</h3>
                          <p>CTR</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>${{facebook_count.spend}}</h3>
                          <p>Spend</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>${{facebook_count.cpc}}</h3>
                          <p>Avg. CPC</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>{{facebook_count.cpp}}</h3>
                          <p>CPP</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>${{facebook_count.social_spend}}</h3>
                          <p>Social Spend</p></div>
                       </li>
                      <li><div class="wtframe vl-div">
                          <h3>{{facebook_count.social_impressions}}</h3>
                          <p>Social Impression</p></div>
                       </li>
                       <li><div class="wtframe vl-div">
                          <h3>{{facebook_count.reach}}</h3>
                          <p>Reach</p></div>
                       </li>
                       <li><div class="wtframe vl-div">
                          <h3>{{facebook_count.cpm}}</h3>
                          <p>CPM</p></div>
                       </li>
                    </ul>
                </section>
            
               
                  <div class="form-group module-widget">
                     <section class="panel-white">
                         <div class="row form-group">
                            <h3 class="col-xs-7 ttl"><a href="#">Age <i class="fa fa-angle-down" aria-hidden="true"></i></a></h3>
                            <div class="col-xs-5 text-right rt-sort">
                            <div class="btn-group btn-dropdown" uib-dropdown is-open="status5.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                {{fb_chart_title | uppercase}} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="facebook_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="facebook_graph('line');">Line Chart</a></li>
                                <li role="menuitem"><a ng-click="facebook_graph('pie');">Pie Chart</a></li>
                              </ul>
                            </div>
                            
                             </div>
                         </div>
                         
                         <section class="row">
                             <section class="col-sm-8 form-group">
                                 
                                    <div class="col-sm-4 pull-right">
                                       <div class="grp-vl">
                                          <div class="grpvl">
                                               <h3 class="f-24">{{facebook_count.impressions}}</h3>
                                               <p>Impression</p>
                                          </div>
                                       </div>
                                    </div>
                                   <div class="col-sm-8 data-div">
                                        <!--<img src="assets/images/graph.jpg" alt="" style="width:100%;" />-->
                                        <div id="container_fb" style="min-width: 310px;height:300px; margin: 0 auto"></div> 
                                   
                                   </div>
                                
                             </section>
                             <section class="col-sm-4">
                                   <table class="data-tabl table-striped"> 
                                      <thead> 
                                         <tr>                                         
                                            <th colspan="2" class="tb-tr rt-bdr">Male</th> 
                                            <th colspan="2">Female</th> 
                                         </tr> 
                                     </thead>
                                     <tbody> 
                                     <tr> 
                                        <td><strong>13-17</strong></td> 
                                        <td class="tb-tr rt-bdr">19%</td> 
                                        <td>8%</td> 
                                        <td class="tb-tr totl-col">26%</td> 
                                    </tr> 
                                    <tr> 
                                        <td><strong>18-24</strong></td> 
                                        <td class="tb-tr rt-bdr">22%</td> 
                                        <td>8%</td> 
                                        <td class="tb-tr totl-col">30%</td> 
                                    </tr> 
                                    <tr> 
                                        <td><strong>25-34</strong></td> 
                                        <td class="tb-tr rt-bdr">9%</td> 
                                        <td>5%</td> 
                                        <td class="tb-tr totl-col">14%</td> 
                                    </tr> 
                                    <tr> 
                                        <td><strong>35-44</strong></td> 
                                        <td class="tb-tr rt-bdr">6%</td> 
                                        <td>6%</td> 
                                        <td class="tb-tr totl-col">12%</td> 
                                    </tr> 
                                    <tr> 
                                        <td><strong>45-54</strong></td> 
                                        <td class="tb-tr rt-bdr">6%</td> 
                                        <td>6%</td> 
                                        <td class="tb-tr totl-col">12%</td> 
                                    </tr> 
                                    <tr> 
                                        <td><strong>55+</strong></td> 
                                        <td class="tb-tr rt-bdr">2%</td> 
                                        <td>5%</td> 
                                        <td class="tb-tr totl-col">7%</td> 
                                    </tr> 
                                  </tbody> </table>
                             </section>
                         </section>  
                     </section>      
                       
                  </div>
                  
                  <div class="form-group module-widget">
                     <section class="panel-white">
                     <div class="row form-group">
                        <h3 class="col-xs-7 ttl">Comperission</h3>
                        <div class="col-xs-5 text-right rt-sort">
                           <div class="btn-group btn-dropdown" uib-dropdown is-open="status9.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                Clicks <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#">Clicks</a></li>
                                
                              </ul>
                            </div>
                        <span class="vs">vs</span> <div class="btn-group btn-dropdown" uib-dropdown is-open="status10.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                Impressions <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#">Impressions</a></li>
                                
                              </ul>
                            </div>
                         </div>
                     </div>
                                
                      <div class="data-div"><div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                      </section>
                  </div>
                 
             </div>
            </div>
        
        
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i aria-hidden="true" class="fa fa-ticket"></i></span> Sale</h3>
            </div>
            <div class="panel-body gray-frame">
                  
                  <div class="form-group module-widget">
                     <section class="panel-white">
                     <div class="row form-group">
                        <div class="col-xs-7"><div class="btn-group btn-dropdown" uib-dropdown is-open="status6.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">
                                {{sales_graph_title | uppercase}} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="sales_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="sales_graph('line');">Line Chart</a></li>
                                <li role="menuitem"><a ng-click="sales_graph('pie');">Pie Chart</a></li>
                              </ul>
                            </div></div>
                        <div class="col-xs-5 text-right rt-sort">                        
                         <button class="btn btn-small">Export CSV</button>
                         </div>
                     </div>
                     
                     <section class="row">
                         <section class="col-sm-9 form-group">
                            <div class="data-div"> <div id="container_sales" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                         </section>
                         <section class="col-sm-3 form-group">
                            <ul class="stats-info data-value">
                               <li>
                               		<h3>1520</h3>
                                    <p class="gray-text">Ticket Sold</p>
                               </li> 
                               <li>
                               		<h3>$520</h3>
                                   <p class="gray-text">Total Revenue</p>
                               </li> 
                               <li>
                               		<h3>$400</h3>
                                   <p class="date-txt">Aug 15, 2016</p>
                                   <p class="gray-text">Top Day</p>
                               </li> 
                            </ul>
                            
                         </section>
                     </section> 
                     </section>       
                       
                  </div>
                  
             </div>
            </div>  <!--Sale Summary--> 
            
        <div class="panel panel-gray">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="neticn wt-brder icon24"><i aria-hidden="true" class="fa fa-envelope-o"></i></span> Email</h3>
            </div>
            <div class="panel-body gray-frame">
                  <div class="form-group module-widget">
                  <section class="panel-white">
                     <div class="row form-group">
                        <div class="col-xs-7">
                         <div class="btn-group btn-dropdown" uib-dropdown is-open="status8.isopen">
                              <button id="single-button" type="button" class="btn btn-small" uib-dropdown-toggle ng-disabled="disabled">                   {{ email_graph_title }} Chart <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="email_graph('bar');">Bar Graph</a></li>
                                <li role="menuitem"><a ng-click="email_graph('line');">Line Chart</a></li>
                                <li role="menuitem"><a ng-click="email_graph('pie');">Pie Chart</a></li>
                              </ul>
                         </div>
                        </div>
                    </div>
                     
                     
                         <section class="row">
                             <section class="col-sm-8 form-group">
                                <div class="data-div"><div id="container_email" style="min-width: 310px; height: 300px; margin: 0 auto"></div></div>
                             </section>
                             <section class="col-sm-4 form-group">
                                <ul class="list-group stats-info cl-list">
                                  <li class="ttl-email">
                                    <span class="badge pull-right">9093</span>
                                    <strong>Total Email Sent</strong>
                                  </li>
                                  <li>
                                    <span class="badge pull-right alert-success">1093</span>                                
                                    Opened Emails                                
                                  </li>
                                  <li>
                                    <span class="badge pull-right alert-success">25</span>                                
                                    Links Clicked                                
                                  </li>
                                  <li>
                                    <span class="badge pull-right alert-danger">608</span>                             
                                    Email Bounced
                                  </li>
                                  <li>
                                    <span class="badge pull-right alert-danger">7392</span>                          
                                    Unopened
                                  </li>
                                  <li>
                                    <span class="badge pull-right alert-danger">53</span>                          
                                    Unsubscribes
                                  </li>
                                </ul>
                                
                             </section>
                         </section>  
                     </section>      
                       
                  </div>
                  
             </div>
            </div>  <!--Email Summary--> 
           
    </div>

<!-- //Form COntainer -->

<!-- //Form COntainer -->
    <!-- //Form COntainer --> 
    <div id="sticky-anchor"></div>
    <div  ng-class="loadingclass" class=""></div>
  </div> 